.form {
  padding-top: 20px;
  background: linear-gradient(to top left, rgb(70, 187, 66), rgb(125, 236, 140));
  /* background-color: rgba(33, 34, 34, 0.2); */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 400px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 5px;
}

.user_icon {
  font-size: 60px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.iconText {
  font-size: 18px;
  font-weight: 600;
}

.sign_in_btn {
  background: rgba(33, 34, 34, 0.2);
  position: absolute;
  outline: none;
  border: none;
  width: 200px;
  height: 40px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
  bottom: 50px;
  right: 76px;
}

.sign_in_btn:hover {
  background: rgba(64, 88, 88, 0.2);
}

.sign_in_btn:disabled {
  cursor: not-allowed
}