.card {
    font-size: 16px;
    display: inline-block;
    margin: 20px 12px;
    padding-left: 5px;
    padding-right: 5px;
    border: 4px solid #25b618;
    width: 180px;
    height: 160px;
    color: #27bb19;
}

.active-status {
    border: 4px solid #49a9e08e;
    border-radius: 10px;
    color:  #49a9e08e;
    font-family:Georgia, 'Times New Roman', Times, serif;
}


.active {
    color: #49a9e08e;
    border-bottom: 1px solid #49a9e08e;
}
